/**************************************************
Top Section
**************************************************/

#contributions-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10em;
  background-color: black;
  color: white;
}

#contributions-top-section {
  padding-top: 3.5em;
  height: 3.5em;
  text-align: center;
}

#contributions-top-section h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.85em;
  letter-spacing: .075em;
  font-weight: 700;
  margin-right: 1.25em;
}

#contributions-top-section img {
  display: inline-block;
  width: 3em;
  margin-right: 1.25em;
}

#contributions-top-section > div {
  display: inline-block;
  border: 1px solid white;
  padding: .5em 2.25em;
}

#contributions-top-section > div > h4 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .5em;
}

/**************************************************
Middle Section
**************************************************/

#contributions-middle {
  margin-top: 12em;
  padding-left: 4em;
  padding-right: 4em;
  display: flex;
  justify-content: space-around;
}

.contributions-subtitle {
  padding-bottom: .7em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid white;
  font-weight: 700;
}

#about-corporation, #top-contributions, #recent-contributions {
  width: 26%;
  text-align: left;
}

#about-corporation div {
  font-size: .85em;
  line-height: 1.8em;
}

#top-contributions ul, #recent-contributions ul {
  padding: 0 0 1em 0;
}

#top-contributions ul li, #recent-contributions ul li {
  margin: 1em 0 0 0;
  padding: 0 0 .5em 0;
  border-bottom: 1px solid white;
  list-style-type: none;
  font-size: .85em;
}

#top-contributions ul li:hover, #recent-contributions ul li:hover {
  color: #BDBDBD
}

.contributors li {
  display: flex;
  justify-content: space-between;
}

/**************************************************
Bottom Section
**************************************************/

#contributions-bottom {
  width: 100%;
  margin-top: 4em;
}

 /* Title */
#make-a-difference-title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 6em;
  padding-right: 6em;
}

#make-a-difference-title h4 {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .6em;
  min-width: 25em;
  padding: 0 2em;
}

.make-a-difference-title-rule {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 1em;
}

/* Contribution buttons */
#contribute-button-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3em;
  width: 60em;
  padding-left: 6em;
  padding-right: 6em;
}

/* Promise button */
#promise-button {
  display: flex;
  justify-content: center;
  width: 13em;
  /*margin-right: 5em;*/
}

#promise-button button {
  box-sizing: border-box;
  border: 1px solid white;
  padding-right: 6.25em;
  width: 9em;
  height: 3.5em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: 700;
}

#promise-button button:hover {
  background-color: black;
}

#promise-button p {
  margin-top: 1em;
  font-size: .65em;
}

/* Contribute button */
#contribute-button {
  display: flex;
  justify-content: center;
  width: 25em;
}

#contribute-button button {
  background-color: red;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  font-weight: 700;
  height: 5em;
  width: 13em;
}

#contribute-button p {
  margin-top: 1em;
  font-size: .65em;
}

/* Social Media Buttons */
#social-button-container {
  display: flex;
  justify-content: center;
  width: 15em;
}

#social-button-container > div {
  display: flex;
  justify-content: space-between;
  width: 13em;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  height: 3.5em;
  width: 3.5em;
}

.social-button img {
  width: 1.7em;
}

#social-button-container p {
  margin-top: 1em;
  font-size: .65em;
}

/* Contribution form */
#contribution-form-container {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 5em;
}

/* Left side of contribution form */
#contribution-form-left {
  width: 60%;
}

#contribution-form-left h2 {
  margin-top: 0;
}

#contribution-form-left form div {
  width: 100%;
}

#contribution-form-left > form > div > input {
  color: black;
  width: 100%;
}

#contribution-form-left form button {
  border: 1px solid white;
}

#contribution-form-left form button:hover {
  border: 1px solid white;
  color: red;
}

/* Right side of contribution form */
#contribution-form-right {
  width: 40%;
}

#contribution-form-right h4 {
  margin: 0;
}

#contribution-form-right h2 {
  margin: 0;
  font-family: 'Open Sans Condensed';
  font-size: 2em;

}
