/**************************************************
Core Styles
**************************************************/

html, body {
  margin: 0;
  padding: 0;
}

/*html.ng-scope {
  margin: 0;
  padding: 0;
  max-width: 100%;
}*/

body {
  min-width: 950px;
}

button {
  margin: 0;
  padding: 0;
}

#white-bg, footer {
  margin: 0 auto;
}

#white-bg {
  background-color: white;
  min-height: 50em;
  min-width: 950px;
}

#show-width-limit, #index-width-limit {
  margin: 0 auto;
  max-width: 1300px;
}

#contributions-width-limit.ng-scope {
  max-width: 1300px;
}

#about-width-limit {
  max-width: 1300px;
}

#more-width-limit.ng-scope {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.nav-bar-push {
  width: 100%;
  height: 8.5em;
}

/**************************************************
Main Fonts
**************************************************/

p, h1, h2, h3, h4, a {
  font-family: 'Open Sans', sans-serif;
}

a, a:visited, a:active {
  color: black;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: red;
  text-decoration: none;
}

.robot-subtitle {
  font-size: .9em;
  font-weight: 600;
  text-transform: uppercase;
}
