/**************************************************
Core Styles
**************************************************/

.form-container {
  border-top: 1px solid #d7d7d7;
  margin-top: 1em;
  padding: 5em 4em 5em 4em;
  min-height: 45em;
}

#new-form {
  border-top: 1px solid #d7d7d7;
  padding-top: 3em;
}

#form-about p {
  font-size: .85em;
  line-height: 2em;
  margin-bottom: 5em;
}

#form-about {
  margin-bottom: 3em;
  width: 80%;
}

.form-container form {
  width: 100%;
}

form {
  max-width: 1200px;
}

form label {
  font-size: .85em;
  font-weight: 700;
}

form h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: -.01em;
  font-size: 3em;
  font-weight: 700;
}

form p {
  font-size: .85em;
}

form input, form textarea {
  height: 4em;
  font-size: .85em;
  padding-left: 1em;
  margin-bottom: 1.3em;
  width: 100%;
}

form textarea {
  height: 10em;
  border: .1em solid #d7d7d7;
  padding: 1em;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 1em 3em 1em 3em;
  border: 0;
}

button:hover {
  background-color: red;
}

#wra-rating {
  /*margin-top: 1.5em;*/
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#wra-rating input {
  width: 24%;
}

#form-pilot {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#form-pilot div {
  width: 48%;
}
