/*Index Styles*/

#index-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 20em;
  margin-top: 4em;
  padding-bottom: 10em;
}

#warehouse-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3em;
}

#warehouse-title h2 {
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

#warehouse-subtitle {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 6em;
  padding-right: 6em;
}

#warehouse-subtitle h4 {
  box-sizing: border-box;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .6em;
  min-width: 35em;
  padding: 0 2em;
}

.warehouse-title-rule {
  border-bottom: 1px solid black;
  width: 100%;
  margin-bottom: 1em;
}

/*.robot {
  margin: 2em;
  height: 17em;
  width: 15em;
  background-color: #white;
}

.robot h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.35em;
  margin: .25em 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.robot a:hover {
  color: black;
}

.robot:hover {
  opacity: 0.8;
}*/

/*.robot-image {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 13em;
}*/
