#more-container {
  background-color: #2E2E2E;
  display: flex;
  justify-content: center;
  padding-bottom: 5em;
  width: 100%;
}

#more-arrow {
  display: flex;
  align-self: center;
  width: 3em;
  height: 8em;
  transform: rotate(90deg);
  margin: 0 auto;
  margin-top: -3em;
}

/* TOP DIV */
#more-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 3em;
}

#more-top h2 {
  text-align: center;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5em;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

#more-title {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 6em;
  padding-right: 6em;
}

#more-title h4 {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: .6em;
  min-width: 35em;
  padding: 0 2em;
}

.more-title-rule {
  border-bottom: 1px solid white;
  width: 100%;
  margin-bottom: 1em;
}

/* MIDDLE DIV */
#more-middle {
  display: flex;
  justify-content: space-around;
  padding: 0 8%;
  margin: 2.5em auto 0 auto;
  width: 880px;
}

.robot {
  margin: .85em .85em 2.25em .85em;
  height: 20em;
  width: 18em;
  transition: color 0.25s ease;
}

.robot h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.35em;
  margin: .25em 0 0 0;
  font-weight: 700;
  text-transform: uppercase;
}

.robot a:hover {
  color: black;
}

.robot-image {
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 18em;
  transition: opacity 0.25s ease;
}

.robot-image:hover {
  opacity: 0.7;
}


/* Name of Robot */
#more-container h3 {
  color: white;
}

/* Amount of likes */
#more-container p {
  color: white;
}

/* BOTOM DIV */
#more-bottom {
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

#more-bottom button {
  background-color: #2E2E2E;
  border: .1em solid white;
  width: 14em;
  height: 4em;
  font-family: 'Open Sans Codensed', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
}

#more-bottom button:hover {
  color: red;
  border: 1px solid red;
}
