/**************************************************
Navbar
**************************************************/

/* Nav Wrapper */
#nav-wrapper {
  height: 10em;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
  z-index: 1;
}

#white-nav {
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Notice Bar */
#notice-bar {
  display: flex;
  justify-content: flex-start;
  height: 3em;
  background-color: #f3f3f3;
  margin-bottom: 1em;
}

#notice-bar p {
  margin-left: 4em;
  padding-top: 1em;
  font-family: 'Open Sans', sans-serif;
  font-size: .85em;
  color: #666;
}

#notice-container {
  width: 100%;
}

#notice-arrow-container {
  height: 3em;
}

#notice-arrow-container img {
  height: 100%;
}

#account-container {
  display: flex;
  width: 25em;
  background-color: black;
}

#account-container p, #account-container a {
  color: white;
}

#account-container a {
  margin-left: .1em;
  transition: color 0.2s ease;
}
#account-container a:hover {
  color: red;
}

/* Nav Bar */
#nav-bar {
  display: flex;
  justify-content: flex-start;
  height: 4.5em;
  background-color: white;
}

#logo-container {
  width: 100%;
  margin-left: 3.5em;
}

#logo-container img {
  width: 23em;
  padding-bottom: -3em;
}

#nav-options-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3.3em;
  padding-bottom: 2em;
  margin-right: 4em;
}

#nav-options-container p {
  margin-left: 1em;
  padding-left: 1em;
  font-size: .7em;
  letter-spacing: .125em;
  font-weight: 700;
}

.nav-rule {
  margin-left: 1.2em;
  height: 2.5em;
  border-right: .1em solid black;
}
