@import "../main/import-styles.scss";

/*************************
ROBOT OVERVIEW (large image, funding overview)
*************************/

.robot-overview {
  margin: 2em $layoutMargin 5em $layoutMargin;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  /* Left Column */
  &__left-col {
    width: 60%;
    max-height: 32.4em;
    overflow: hidden;
  }

  &__image {
    position: relative;
    width: 100%;
    height: auto;
  }

  /* Right Column - see .campaign-info */
}

/* Also (.robot-overview__right-col) */
.campaign-info {
  margin-top: 1em;
  margin-left: 5%;
  width: 35%;

  // Fonts
  &__statistic {
    margin: 0;
    font-size: 2.75em;
    font-weight: bold;
  }

  &__statistic-text {
    font-size: 0.75em;
    color: $colorMediumGray;
  }

  &__row {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__row--padded {
    padding: 0 1em;
  }

  &__col {
    text-align: left;
  }

  // Row 1 - Column 1 of 3
  &__contributors {
  }

  // Row 1 - Column 2 of 3
  &__days-left {

  }

  // Row 1 - Column 3 of 3
  &__campaign {

  }

  // Row 2
  &__pledged-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 1em;
  }

  &__pledged-of {
    position: relative;
    top: 0.675em;
  }

  // Row 3
  &__btn {
    margin-top: 1.75em;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorAccent;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: .0125em;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease;

    &:hover {
      background-color: black;
      cursor: pointer;
    }

  }

  // Row 4 - Column 1 of 3
  &__asterik {
    position: relative;
    top: -.25em;
    font-size: 2em;
    font-weight: 600;
    color: $colorLightGray;

  }

  // Row 4 - Column 2 of 3
  &__disclaimer {
    font-size: 0.7em;
    color: $colorLightGray;

  }

  // Row 4 - Column 3 of 3
  &__share {

  }

}




/*************************
???
*************************/

/* Content Container */
#show-container {
  margin-top: 2em;
  padding-bottom: 5em;
  display: flex;
}

/*************************
SPLASH CONTAINER
*************************/

/* Splash Info */
#robot-splash-container {
  display: flex;
  justify-content: flex-start;
  height: 5.5em;
}

#robot-splash-text {
  padding-left: $layoutMargin;
  width: 65%;
  display: flex;
  align-items: center;
  background-color: #000;
}

#robot-splash-text h3 {
  font-family: $fontPrimaryCondensed;
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: .05em;
  color: white;
  margin-right: 1em;
  margin-top: .25em;
  text-transform: uppercase;
}

#robot-splash-text h4 {
  font-weight: 400;
  color: white;
  margin-top: 1.5em;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 200;
  letter-spacing: .7em
}

#splash-container-arrow {
  width: 25%;
  height: 100%;
  display: flex;
  align-self: flex-end;
}

#splash-container-arrow img {
  width: 2.5em;
}

#edit-robot {
  text-align: center;
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transition: background-color 0.25s ease;
}

#edit-robot:hover {
  background-color: #c4c4c4;
}

#edit-robot:hover p a {
  color: white;
}

#edit-robot p a {
  text-align: center;
  font-size: .8em;
  text-transform: uppercase;
  color: #c4c4c4;
  transition: background-color 0.25s ease;
}
/*************************
LEFT CONTAINER
*************************/

#robot-left-container {
  width: 60%;
  padding-left: 6em;
  padding-right: 4em;
  margin-top: 3em;
}

/* Bio and Gallery */
#robot-bio {
  font-size: .85em;
  line-height: 2em;
  margin-bottom: 5em;
}

#robot-gallery-container {
  display: flex;
}

.placeholder-image {
  height: 6em;
  width: 6em;
  background-color: #BBB;
  margin-right: 1em;
}

.placeholder-image:hover {
  opacity: 0.8;
}

/*************************
RIGHT CONTAINER
*************************/

#robot-right-container {
  width: 40%;
  margin-top: 1em;
  padding: 0 6em 0 3em;
  border-left: .1em solid lightgray;
}

/* Statistics Title */
#statistics-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.title-rule {
  width: 33%;
  height: 1%;
  border-top: 1px solid black;
}

.title-box {
  box-sizing: border-box;
  text-align: center;
  padding-top: .65em;
  width: 9.5em;
  height: 4.25em;
  background-color: black;
  color: white;
  font-family: $fontPrimaryCondensed;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  border: 12px solid white;
}

/* Statistics */
#statistics-info-container {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}

#statistics-title .title-box {
  cursor: default;
}

.statistics-circle {
  min-width: 4.5em;
  max-width: 4.5em;
  min-height: 4.5em;
  max-height: 4.5em;
  border: 1.5px solid black;
  border-radius: 360px;
  text-align: center;
  transition: border 0.25s ease;
}

.statistics-circle:hover {
  cursor: default;
}

.statistics-circle h4 {
  padding-top: .105em;
  padding-left: .725em;
  display: flex;
  align-self: center;
  font-family: $fontPrimaryCondensed;
  font-weight: 700;
  font-size: 2.25em;
  transition: color 0.25s ease;
}

.statistics-circle p {
  padding-top: 1em;
  font-family: $fontPrimary;
  font-weight: 700;
  font-size: .75em;
  color: #808080;
  text-transform: uppercase;
  transition: color 0.25s ease;
}

/* Hover effects */
#stat-power:hover {
  border: 1.5px solid #f17022;
}

#stat-power:hover > h4, #stat-power:hover > p {
  color: #f17022;
}

#stat-energy:hover {
  border: 1.5px solid #fdb813;
}

#stat-energy:hover > h4, #stat-energy:hover > p {
  color: #fdb813;
}

#stat-agility:hover {
  border: 1.5px solid #f68b1f;
}

#stat-agility:hover > h4, #stat-agility:hover > p {
  color: #f68b1f;
}

#stat-armor:hover {
  border: 1.5px solid #62c2cc;
}

#stat-armor:hover > h4, #stat-armor:hover > p {
  color: #62c2cc;
}


/* Bottom section (History, Pilots) */

#statistics-bottom-container {
  display: flex;
}

#statistics-bottom-container p {
  font-size: .85em;
}

#history-container {
  width: 45%;
  margin-right: 10%;
}

#history-container p {
  font-size: .85em;
  margin-bottom: .3em;
}

#pilots-container {
  width: 45%;
}

#pilots-container div {
  margin-bottom: 1em;
}

#pilots-container div p {
  margin-bottom: .3em;
  font-size: .85em;
}
