@import "../main/import-styles.scss";

/*************************
ROBOT OVERVIEW (large image, funding overview)
*************************/

.robot-overview {
  margin: 0 $layoutMargin 2em $layoutMargin;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  /* Left Column */
  &__left-col {
    width: 60%;
    max-height: 32.4em;
    overflow: hidden;
  }

  &__image {
    position: relative;
    width: 100%;
    height: auto;
  }

  /* Right Column - see .campaign-info */
}

/* Also (.robot-overview__right-col) */
.campaign-info {
  margin-top: .5em;
  margin-left: 5%;
  width: 35%;

  // Fonts
  &__statistic {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold;
  }

  &__statistic-text {
    font-size: 0.75em;
    color: $colorMediumGray;
  }

  &__row {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  &__row--padded {
    padding: 0 1em;
  }

  &__col {
    text-align: left;
  }

  // Row 2
  &__pledged-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 1em;
  }

  &__pledged-of {
    position: relative;
    top: 0.675em;
  }

  // Row 3
  &__btn {
    margin: 2em 0;
    width: 100%;
    height: 3.5em;
    background-color: $colorAccent;
    color: white;

    &:hover {
      background-color: black;
      color: white;
      cursor: pointer;
    }

  }

  // Row 4 - Column 1 of 3
  &__asterik {
    width: 4%;
    margin-right: .5%;
    position: relative;
    text-align: center;
    top: -.1em;
    font-size: 1em;
    font-weight: 600;
    color: $colorLightGray;
  }

  // Row 4 - Column 2 of 3
  &__disclaimer {
    width: 45.5%;
    margin-right: 10%;
    color: $colorLightGray;
  }

  // Row 4 - Column 3 of 3
  &__share {
    width: 40%;
  }
}

/*************************
ROBOT NAME AND TAGLINE
*************************/

/* Splash Info */
.robot-heading-container {
  display: flex;
  justify-content: flex-start;
  height: 5em;
}

.robot-heading {
  padding-left: $layoutMargin;
  width: 65%;
  display: flex;
  align-items: center;
  background-color: #000;
}

.robot-heading__name {
  font-family: $fontPrimaryCondensed;
  font-weight: 600;
  letter-spacing: .05em;
  color: white;
  margin: 0 1em 0 0;
  text-transform: uppercase;
}

.robot-heading__tagline {
  position: relative;
  top: 0.15em;
  margin-top: 0;
}

.robot-heading__arrow-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-self: flex-end;
}

.robot-heading__arrow {
  width: 2.5em;
}

/*************************
ROBOT BODY CONTAINER
*************************/

.robot-body-container {
  display: flex;
  justify-content: center;
}

/* Content Container */
.robot-body {
  margin: 2em $layoutMargin 5em $layoutMargin;
  display: flex;
}

/*************************
Main column
*************************/

.robot-body__main-col{
  width: 55%;
  margin-right: 5%;
  margin-top: 3em;
}

/* Bio and Gallery */
.robot-body__bio {
  font-size: .9em;
  line-height: 1.75em;
  margin-bottom: 2em;
}

/*************************
Side-bar
*************************/

.robot-body__sidebar {
  width: 35%;
  margin-top: 1em;
  padding: 0 0 0 5%;
  box-sizing: content-box;
  border-left: .1em solid lightgray;
}

/* Corporations */
.robot-body__corporation {

}

/* Statistics */
.robot-body__statistics-container {
  margin-top: 4.25em;
}

.robot-body__statistics {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5em;
}

.statistics__circle {
  min-width: 4em;
  max-width: 4em;
  min-height: 4em;
  max-height: 4em;
  border: 1.5px solid black;
  border-radius: 360px;
  text-align: center;
  transition: border 0.25s ease;
  margin-right: 1em;
  text-align: center;

  &:hover {
    cursor: default;
  }
}

.statistics__number {
  position: relative;
  left: .61em;
  display: flex;
  align-self: center;
  font-family: $fontPrimaryCondensed;
  font-weight: 700;
  transition: color 0.2s ease;
}

.statistics__name {
  padding-top: .75em;
  font-family: $fontPrimary;
  font-weight: 700;
  color: #808080;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

/* Hover effects */
.statistics__circle--power {
  &:hover {
    border: 1.5px solid #f17022;
    .statistics__number, .statistics__name {
      color: #f17022;
    }
  }
}

.statistics__circle--energy {
  &:hover {
    border: 1.5px solid #fdb813;
    .statistics__number, .statistics__name {
      color: #fdb813;
    }
  }
}

.statistics__circle--agility {
  &:hover {
    border: 1.5px solid #f68b1f;
    .statistics__number, .statistics__name {
      color: #f68b1f;
    }
  }
}

.statistics__circle--armor {
  &:hover {
    border: 1.5px solid #62c2cc;
    .statistics__number, .statistics__name {
      color: #62c2cc;
    }
  }
}

/* Sidebar - Bottom (History, Pilots) */

.robot-body__sidebar-row {
  display: flex;
}

.robot-body__history-container {
  width: 45%;
  margin-right: 10%;
}

.robot-body__pilots-container {
  width: 45%;
}
