<section class="contributions-container max-width-container">

  <!-- Top section of Contributions (title) -->
  <section class="contributions-header">
    <h2 class="contributions-header__left-side-container">Contribute</h2>
    <img class="contributions-header__arrow" src="img/roboto/roboto-arrow-white.png" />
    <div class="contributions-header__right-side-container">
      <h4 class="contributions-header__right-side section-header--stylized">{{RobotShowViewModel.robot.name}}</h4>
    </div>
  </section>

  <!-- Middle section of contributions: About, Top Contributions, Recent Contributions -->
  <section class="contribution-lists">

    <!-- Contributions: About Corporation -->
    <div class="contribution-lists__list-container contribution-lists__about">
      <p class="section-header section-header--main-white">// ABOUT {{RobotShowViewModel.robot.corporation}}</p>
      <p class="font--m font-size--body contribution-lists__text"><strong>{{RobotShowViewModel.robot.corporation}}</strong> is an andempo recessum delistis natiate quis et asperciis dolum voluptam verum rem ra niti a quam nonetur moluptas simus et odi cum aciur, eic to officie ntisque reic to eum dolorum quisque nonsed et autem. Et rerum incim estoresti us eatem dolorem lautataquid quid quia et rem hicte vel id quodignam eos eicaborendam ius eos voluptati alis quo modis ide ommo ipsaped itatur solum, occum fugitis sam fugiant ad ut que voluptam quatem nobis am, quae n</p>
    </div>

    <!-- Contributions: Top Contribtions -->
    <div class="contribution-lists__list-container contribution-lists__top">
      <p class="section-header section-header--main-white">// TOP CONTRIBUTIONS</p>
      <div class="contribution-lists__row" data-ng-repeat="contributor in RobotShowViewModel.contributions | orderBy:'-amount'" class="contributors">
          <p class="font--m font-size--body contribution-lists__text">{{contributor.name}}</p>
          <p class="font--m font-size--body contribution-lists__text"><span>{{contributor.amount | currency : $ : 0}}</span></p>
      </div>
    </div>

    <!-- Contributions: Recent Contributions -->
    <div class="contribution-lists__list-container contribution-lists__recent">
      <p class="section-header section-header--main-white">// RECENT CONTRIBUTIONS</p>
      <div class="contribution-lists__row" data-ng-repeat="contributor in RobotShowViewModel.contributions | orderBy:'created_at'" class="contributors">
          <p class="font--m font-size--body contribution-lists__text">{{contributor.name}}</p>
          <p class="font--m font-size--body contribution-lists__text"><span>{{contributor.amount | currency : $ : 0}}</span></p>
      </div>
    </div>
  </section>

  <!-- Bottom section of Contributions: Call to action buttons -->
  <section class="contributions-cta">

    <div class="make-a-difference">
      <div class="make-a-difference__title-rule"></div>
      <h4 class="make-a-difference__text section-header--stylized">Make A Difference</h4>
      <div class="make-a-difference__title-rule"></div>
    </div>

    <!-- Buttons Container -->
    <div class="cta-buttons">

      <!-- Promise button -->
      <div class="cta-buttons__btn-container">
        <button class="btn cta-buttons__btn--promise">Promise</button>
        <p class="font-size--accent-sm font--m">Make a promise to pledge as soon as you’re able.</p>
      </div>

      <!-- Contribute button -->
      <div class="cta-buttons__btn-container">
        <button class="btn cta-buttons__btn--contrib" data-ng-click="contributing = !contributing">Contribute</button>
        <p class="font-size--accent-sm font--m">Do you part and contribute to <strong>{{RobotShowViewModel.robot.corporation}}</strong>.</p>
      </div>

      <div class="cta-buttons__btn-container">
        <div class="row-custom row-custom--just-center cta-buttons__row--social">
          <div class="cta-buttons__btn--social">
            <img class="cta-buttons__btn--image" src="img/social-media/sm-fb-w.png" />
          </div>
          <div class="cta-buttons__btn--social">
            <img class="cta-buttons__btn--image" src="img/social-media/sm-gp-w.png" />
          </div>
          <div class="cta-buttons__btn--social">
            <img class="cta-buttons__btn--image" src="img/social-media/sm-tw-w.png" />
          </div>
        </div>
        <p class="font-size--accent-sm font--m">Tell your colleagues about the work <strong>{{RobotShowViewModel.robot.corporation}}</strong> is doing to protect our planet.</p>
      </div>
    </div>

    <div id="contribution-form-container" data-ng-include="'/scripts/robots/contributions/_contributions-form.html'" data-ng-show="contributing" data-ng-hide="!contributing"></div>
  </section>

</section>
