<div class="form-container">
  <div id="form-about">
    <h3>Giving You A Voice</h3>
    <p>Donec a condimentum nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec in consequat leo, non dictum metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin vitae pulvinar elit. Nulla facilisi. Phasellus ut lacinia purus. Donec congue euismod volutpat. Morbi in elementum urna. Aenean quis mauris at ante porttitor consectetur sed a odio. Donec laoreet neque lorem, ac posuere est vehicula non. Vivamus blandit dolor id nibh porta fringilla. Nam hendrerit rutrum nunc, at tristique massa dignissim vitae. Ut nec eros in nibh vehicula posuere ac ac neque. Integer dictum, risus id accumsan lobortis, ante ligula tristique ipsum, vitae lacinia mauris augue nec orci.</p>
  </div>

  <h3 ng-hide="RobotNewViewModel.formIsVisible">What corporation are you with?</h3>
  <form ng-hide="RobotNewViewModel.formIsVisible" data-ng-submit="RobotNewViewModel.toggleForm()">
    <input placeholder="Name of Corporation" data-ng-model="RobotNewViewModel.robot.corporation" />
    <button type="button" data-ng-click="RobotNewViewModel.toggleForm()">Add Your Robot</button>
  </form>

  <form ng-show="RobotNewViewModel.formIsVisible" id="new-form">

    <!-- PARTIAL: Form -->
    <div data-ng-include="'/js/robots/partials/_robot-new-form.html'"></div>

    <button type="button" data-ng-click='RobotNewViewModel.create()'>Add {{RobotNewViewModel.robot.name}} to Warehouse</button>
  </form>
</div>
