<label>Name</label>
<input placeholder="Name" data-ng-model="RobotEditViewModel.robot.name">
<label>Tagline</label>
<input placeholder="Tagline" data-ng-model="RobotEditViewModel.robot.tagline">
<label>Photo Url</label>
<input placeholder="http://www.url.com/" data-ng-model="RobotEditViewModel.robot.photoUrl">
<label>Bio</label>
<textarea placeholder="Bio" data-ng-model="RobotEditViewModel.robot.bio"></textarea>
<label>Country</label>
<input placeholder="Country" data-ng-model="RobotEditViewModel.robot.country">
<label>Class <span><em>(AAA, AA, A, B, C, X, Z)</em></span></label>
<input placeholder="Class" data-ng-model="RobotEditViewModel.robot.rClass">
<label>Corporation</label>
<input placeholder="Corporation" data-ng-model="RobotEditViewModel.robot.corporation">
<label>Year Built</label>
<input placeholder="Year Built" data-ng-model="RobotEditViewModel.robot.year">
<label>WRA Rating <span><em>(1 – 10)</em></span></label>
<div id="wra-rating">
  <input placeholder="Power (1-10)" data-ng-model="RobotEditViewModel.robot.sPower">
  <input placeholder="Energy (1-10)" data-ng-model="RobotEditViewModel.robot.sEnergy">
  <input placeholder="Agility (1-10)" data-ng-model="RobotEditViewModel.robot.sAgility">
  <input placeholder="Armor (1-10)" data-ng-model="RobotEditViewModel.robot.sArmor">
</div>
<div id="form-pilot">
  <div>
    <p>Left Brain Pilot</p>
    <label>Name</label>
    <input placeholder="Name" data-ng-model="RobotEditViewModel.robot.pLName">
    <label>Nationality</label>
    <input placeholder="Nationality" data-ng-model="RobotEditViewModel.robot.pLNationality">
    <label>Battles Won</label>
    <input placeholder="Battles Won" data-ng-model="RobotEditViewModel.robot.pLBattles">
  </div>
  <div>
    <p>Right Brain Pilot</p>
    <label>Name</label>
    <input placeholder="Name" data-ng-model="RobotEditViewModel.robot.pRName">
    <label>Nationality</label>
    <input placeholder="Nationality" data-ng-model="RobotEditViewModel.robot.pRNationality">
    <label>Battles Won</label>
    <input placeholder="Battles Won" data-ng-model="RobotEditViewModel.robot.pRBattles">
  </div>
</div>
