<div id="contribution-form-left">
  <h2>How much will you contribute?</h2>

  <form data-ng-show="contributing">
    <div>
      <label>Name</label>
      <input placeholder="Your Name / Corporation Name" data-ng-model="RobotShowViewModel.robot.contributions.name">
    </div>
    <div>
      <label>Tagline</label>
      <input placeholder="How much would you like to donate?" data-ng-model="RobotShowViewModel.robot.contributions.amount">
    </div>
    <button data-ng-click="contributing = !contributing">Contribute</button>
  </form>
</div>

<div id="contribution-form-right">
  <h4>{{RobotShowViewModel.robot.corporation}}'s Goal: </h4>
  <h2>{{RobotShowViewModel.robot.contributions.goal}}</h2>
</div>
