<div id="contributions-width-limit">

  <!-- Top section of Contributions (title) -->
  <section id="contributions-top-section">
    <h2>Contribute</h2>
    <img src="img/roboto/roboto-arrow-white.png" />
    <div>
      <h4>{{RobotShowViewModel.robot.corporation}}</h4>
    </div>
  </section>

  <!-- Middle section of contributions: About, Top Contributions, Recent Contributions -->
  <section id="contributions-middle">

    <!-- Contributions: About Corporation -->
    <div id="about-corporation">
      <p class="contributions-subtitle">// ABOUT</p>
      <div>
        <strong>{{RobotShowViewModel.robot.corporation}}</strong> is an andempo recessum delistis natiate quis et asperciis dolum voluptam verum rem ra niti a quam nonetur moluptas simus et odi cum aciur, eic to officie ntisque reic to eum dolorum quisque nonsed et autem. Et rerum incim estoresti us eatem dolorem lautataquid quid quia et rem hicte vel id quodignam eos eicaborendam ius eos voluptati alis quo modis ide ommo ipsaped itatur solum, occum fugitis sam fugiant ad ut que voluptam quatem nobis am, quae n
      </div>
    </div>

    <!-- Contributions: Top Contribtions -->
    <div id="top-contributions">
      <p class="contributions-subtitle">// TOP CONTRIBUTIONS</p>
      <ul>
        <div data-ng-repeat="contributor in RobotShowViewModel.robot.contributions.contribute" class="contributors">
          <li>
            <p>{{contributor.name}}</p>
            <p><span>${{contributor.amount}}</span></p>
          </li>
        </div>
      </ul>
    </div>

    <!-- Contributions: Recent Contributions -->
    <div id="recent-contributions">
      <p class="contributions-subtitle">// RECENT CONTRIBUTIONS</p>
      <ul>
        <div data-ng-repeat="contributor in RobotShowViewModel.robot.contributions.contribute" class="contributors">
          <li>
            <p>{{contributor.name}}</p>
            <p><span>${{contributor.amount}}</span></p>
          </li>
        </div>
      </ul>
    </div>
  </section>

  <!-- Bottom section of Contributions: Call to action buttons -->
  <section id="contributions-bottom">

    <div id="make-a-difference-title">
      <div class="make-a-difference-title-rule"></div>
      <h4>Make A Difference</h4>
      <div class="make-a-difference-title-rule"></div>
    </div>

    <!-- Buttons Container -->
    <div id="contribute-button-container">

      <!-- Promise button -->
      <div id="promise-button">
        <button>Promise</button>
        <!-- <p>Make a promise to pledge as soon as you’re able.</p> -->
      </div>

      <!-- Contribute button -->
      <div id="contribute-button">
        <button data-ng-click="contributing = !contributing">Contribute</button>
        <!-- <p>Do you part and contribute to <strong>{{RobotShowViewModel.robot.corporation}}</strong>.</p> -->
      </div>

      <div id="social-button-container">
        <div>
          <div class="social-button">
            <img src="img/social-media/sm-fb-w.png" />
          </div>
          <div class="social-button">
            <img src="img/social-media/sm-gp-w.png" />
          </div>
          <div class="social-button">
            <img src="img/social-media/sm-tw-w.png" />
          </div>
        </div>
        <!-- <p>Tell your colleagues about the work <strong>{{RobotShowViewModel.robot.corporation}}</strong> is doing to protect our planet.</p> -->
      </div>
    </div>


    <div id="contribution-form-container" data-ng-include="'./js/robots/partials/contributions-form.html'" data-ng-show="contributing" data-ng-hide="!contributing"></div>
  </section>

</div>
