<section class="more-container max-width-container">

  <img class="more-container__arrow" src="img/design-elements/box-arrow.png"/>

  <div class="title-container__title-container">
    <h2 class="title-container__title title-container__title--light">MORE</h2>
    <div class="title-container__subtitle-container">
      <div class="title-container__title-rule title-container__title-rule--light"></div>
      <h4 class="title-container__subtitle title-container__subtitle--light">Robots Worth Fighting For</h4>
      <div class="title-container__title-rule title-container__title-rule--light"></div>
    </div>
  </div>

  <div class="more-container__campaigns">
    <div data-ng-repeat="campaign in CampaignShowViewModel.campaigns | limitTo:3">
      <div class="campaign--more">
        <a class="link" data-ui-sref="campaignShow({id: campaign.id})">
          <div class="campaign__image" data-ng-style="{'background-image': 'url(' + campaign.photoUrl + ')'}"></div>
          <h3 class="campaign__name campaign__name--light">{{campaign.name}}</h3>
        </a>
      </div>
    </div>
  </div>

  <div class="more-container__button-container">
    <a class="link link--light" data-ui-sref="campaignIndex">
      <button class="btn more-container__btn">Warehouse</button>
    </a>
  </div>

</section>
