<div class="form-container">
  <div id="form-about">
    <h3>Change Information for {{RobotEditViewModel.robot.name}}</h3>
    <p>Donec a condimentum nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>

  <form>
    <button type="button" data-ng-click='RobotEditViewModel.update()'>Update {{RobotEditViewModel.robot.name}}'s information</button><br /><br />

    <label>Name</label>
    <input placeholder="Name" data-ng-model="RobotEditViewModel.robot.name">
    <label>Tagline</label>
    <input placeholder="Tagline" data-ng-model="RobotEditViewModel.robot.tagline">
    <label>Photo Url</label>
    <input placeholder="http://www.url.com/" data-ng-model="RobotEditViewModel.robot.photoUrl">
    <label>Bio</label>
    <textarea placeholder="Bio" data-ng-model="RobotEditViewModel.robot.bio"></textarea>
    <label>Country</label>
    <input placeholder="Country" data-ng-model="RobotEditViewModel.robot.country">
    <label>Class <span><em>(AAA, AA, A, B, C, X, Z)</em></span></label>
    <input placeholder="Class" data-ng-model="RobotEditViewModel.robot.rClass">
    <label>Corporation</label>
    <input placeholder="Corporation" data-ng-model="RobotEditViewModel.robot.corporation">
    <label>Year Built</label>
    <input placeholder="Year Built" data-ng-model="RobotEditViewModel.robot.year">
    <label>WRA Rating <span><em>(1 – 10)</em></span></label>
    <div id="wra-rating">
      <input placeholder="Power" data-ng-model="RobotEditViewModel.robot.statistics.power">
      <input placeholder="Energy" data-ng-model="RobotEditViewModel.robot.statistics.energy">
      <input placeholder="Agility" data-ng-model="RobotEditViewModel.robot.statistics.agility">
      <input placeholder="Armor" data-ng-model="RobotEditViewModel.robot.statistics.armor">
    </div>
    <div id="form-pilot">
      <div>
        <p>Left Brain Pilot</p>
        <label>Name</label>
        <input placeholder="Name" data-ng-model="RobotEditViewModel.robot.pilots.left.name">
        <label>Nationality</label>
        <input placeholder="Nationality" data-ng-model="RobotEditViewModel.robot.pilots.left.nationality">
        <label>Battles Won</label>
        <input placeholder="Battles Won" data-ng-model="RobotEditViewModel.robot.pilots.left.battles">
      </div>

      <div>
        <p>Right Brain Pilot</p>
        <label>Name</label>
        <input placeholder="Name" data-ng-model="RobotEditViewModel.robot.pilots.right.name">
        <label>Nationality</label>
        <input placeholder="Nationality" data-ng-model="RobotEditViewModel.robot.pilots.right.nationality">
        <label>Battles Won</label>
        <input placeholder="Battles Won" data-ng-model="RobotEditViewModel.robot.pilots.right.battles">
      </div>
    </div>

    <button type="button" data-ng-click='RobotEditViewModel.update()'>Update {{RobotEditViewModel.robot.name}}'s information</button>
    <button type="button" data-ng-click='RobotEditViewModel.delete({ id: RobotEditViewModel.robot.id })'>Remove {{RobotEditViewModel.robot.name}} from Warehouse</button>
  </form>
</div>
