<div class="form-container">
  <div id="form-about">
    <h3>Change Information for {{RobotEditViewModel.robot.name}}</h3>
    <p>Donec a condimentum nisl. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
  </div>

  <form>
    <button type="button" data-ng-click='RobotEditViewModel.update()'>Update {{RobotEditViewModel.robot.name}}'s information</button><br /><br />

    <!-- PARTIAL: Form -->
    <div data-ng-include="'/js/robots/partials/_robot-edit-form.html'"></div>

    <button type="button" data-ng-click='RobotEditViewModel.update()'>Update {{RobotEditViewModel.robot.name}}'s information</button>
    <button type="button" data-ng-click='RobotEditViewModel.delete({ id: RobotEditViewModel.robot.id })'>Remove {{RobotEditViewModel.robot.name}} from Warehouse</button>
  </form>
</div>
