/*****************************
Fonts
*****************************/
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,600,700,700i";
/*****************************
Mixins
*****************************/
/*****************************
Variables
*****************************/
/**************************************************
Section container
**************************************************/
.contributions-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  color: white;
  box-shadow: 0px -20px 100px 2px rgba(0, 0, 0, 0.125);
  padding: 0 62px 10em 62px; }

/**************************************************
Header
**************************************************/
.contributions-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5.5em;
  height: 3.5em; }
  .contributions-header__left-side-container {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1.85em;
    letter-spacing: .075em;
    font-weight: 700;
    margin-right: 1em; }
  .contributions-header__arrow {
    width: 3em;
    height: 7em;
    margin-right: 2.25em; }
  .contributions-header__right-side-container {
    border: 1px solid white;
    padding: 1em 2.25em; }
  .contributions-header__right-side {
    text-transform: uppercase;
    letter-spacing: .5em;
    margin: 0; }

/**************************************************
Middle Section
**************************************************/
.contribution-lists {
  margin-top: 8em;
  margin-bottom: 7em;
  min-width: 60em;
  display: flex;
  justify-content: space-around; }
  .contribution-lists__row:last-child {
    border-bottom: 0px solid white; }
  .contribution-lists__list-container {
    width: 28%;
    min-width: 17em; }
  .contribution-lists__row {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0.5em 0;
    margin: 1em 0 0 0;
    border-bottom: 1px solid white; }
  .contribution-lists__text {
    line-height: 1.65; }

/**************************************************
Contributions call-to-action
**************************************************/
.contributions-cta {
  display: flex;
  justify-content: center;
  flex-direction: column; }

/* Title */
.make-a-difference {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .make-a-difference__title-rule {
    border-bottom: 1px solid white;
    width: 100%; }
  .make-a-difference__text {
    text-align: center;
    min-width: 25em;
    padding: 0 2em; }

/* Buttons */
.cta-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 3em; }
  .cta-buttons__btn-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15em; }
  .cta-buttons__btn--promise {
    margin: 0 0 .75em 0;
    padding: 1em 3em;
    border: 1px solid white; }
    .cta-buttons__btn--promise:focus {
      color: white; }
    .cta-buttons__btn--promise:hover {
      color: white;
      border: 1px solid #d6371a; }
  .cta-buttons__btn--contrib {
    margin: 0 0 .75em 0;
    padding: 1.75em 5em;
    background-color: #d6371a; }
    .cta-buttons__btn--contrib:focus {
      color: white; }
    .cta-buttons__btn--contrib:hover {
      background-color: red;
      color: white;
      border: 1px solid #d6371a; }
  .cta-buttons__row--social {
    padding: 0 1.75em;
    box-sizing: border-box; }
  .cta-buttons__btn--social {
    margin: 0 0 .75em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    height: 2.9em;
    width: 2.9em;
    transition: all 0.2s ease; }
    .cta-buttons__btn--social:hover {
      border: 1px solid #d6371a;
      cursor: pointer; }
  .cta-buttons__btn--image {
    width: 1.25em; }

/* Contribution form */
#contribution-form-container {
  padding-top: 5em;
  display: flex;
  justify-content: space-between;
  margin-top: 10em;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 5em; }

/* Left side of contribution form */
#contribution-form-left {
  width: 60%; }

#contribution-form-left h2 {
  margin-top: 0; }

#contribution-form-left form div {
  width: 100%; }

#contribution-form-left > form > div > input {
  color: black;
  width: 100%; }

#contribution-form-left form button {
  border: 1px solid white; }

#contribution-form-left form button:hover {
  border: 1px solid white;
  color: red; }

/* Right side of contribution form */
#contribution-form-right {
  width: 40%; }

#contribution-form-right h4 {
  margin: 0; }

#contribution-form-right h2 {
  margin: 0;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2em; }

/*# sourceMappingURL=contributions-styles.css.map */
