/*****************************
Fonts
*****************************/
@import "https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,600,700,700i";
/*****************************
Mixins
*****************************/
/*****************************
Variables
*****************************/
/*************************
ROBOT OVERVIEW (large image, funding overview)
*************************/
.robot-overview {
  margin: 0 60px 2em 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  /* Left Column */
  /* Right Column - see .campaign-info */ }
  .robot-overview__left-col {
    width: 60%;
    max-height: 32.4em;
    overflow: hidden; }
  .robot-overview__image {
    position: relative;
    width: 100%;
    height: auto; }

/* Also (.robot-overview__right-col) */
.campaign-info {
  margin-top: .5em;
  margin-left: 5%;
  width: 35%; }
  .campaign-info__statistic {
    margin: 0;
    font-size: 2.5em;
    font-weight: bold; }
  .campaign-info__statistic-text {
    font-size: 0.75em;
    color: #666666; }
  .campaign-info__row {
    margin-top: 1em;
    margin-bottom: 1em; }
  .campaign-info__row--padded {
    padding: 0 1em; }
  .campaign-info__col {
    text-align: left; }
  .campaign-info__pledged-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 1em; }
  .campaign-info__pledged-of {
    position: relative;
    top: 0.675em; }
  .campaign-info__btn {
    margin: 2em 0;
    width: 100%;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #da4e34;
    font-size: .85em;
    font-weight: 600;
    letter-spacing: .0125em;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s ease; }
    .campaign-info__btn:hover {
      background-color: black;
      cursor: pointer; }
  .campaign-info__asterik {
    width: 4%;
    margin-right: .5%;
    position: relative;
    text-align: center;
    top: -.1em;
    font-size: 1em;
    font-weight: 600;
    color: #AAAAAA; }
  .campaign-info__disclaimer {
    width: 45.5%;
    margin-right: 10%;
    font-size: 0.6em;
    color: #AAAAAA; }
  .campaign-info__share {
    width: 40%; }

/*************************
ROBOT NAME AND TAGLINE
*************************/
/* Splash Info */
.robot-heading-container {
  display: flex;
  justify-content: flex-start;
  height: 5em; }

.robot-heading {
  padding-left: 60px;
  width: 65%;
  display: flex;
  align-items: center;
  background-color: #000; }

.robot-heading__name {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.8em;
  font-weight: 600;
  letter-spacing: .05em;
  color: white;
  margin-right: 1em;
  margin-top: .25em;
  text-transform: uppercase; }

.robot-heading__tagline {
  font-weight: 400;
  color: white;
  margin-top: 1.5em;
  text-transform: uppercase;
  font-size: .75em;
  font-weight: 200;
  letter-spacing: 0.7em; }

.robot-heading__arrow-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-self: flex-end; }

.robot-heading__arrow {
  width: 2.5em; }

/*************************
ROBOT BODY CONTAINER
*************************/
.robot-body-container {
  display: flex;
  justify-content: center; }

/* Content Container */
.robot-body {
  margin: 2em 60px 5em 60px;
  display: flex; }

/*************************
Main column
*************************/
.robot-body__main-col {
  width: 55%;
  margin-right: 5%;
  margin-top: 3em; }

/* Bio and Gallery */
.robot-body__bio {
  font-size: .85em;
  line-height: 1.75em;
  margin-bottom: 2em; }

/*************************
Side-bar
*************************/
.robot-body__sidebar {
  width: 35%;
  margin-top: 1em;
  padding: 0 0 0 5%;
  box-sizing: content-box;
  border-left: .1em solid lightgray; }

/* Corporations */
/* Statistics */
.robot-body__statistics-container {
  margin-top: 4.25em; }

.robot-body__statistics {
  margin-top: 1.5em;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5em; }

.statistics__circle {
  min-width: 4em;
  max-width: 4em;
  min-height: 4em;
  max-height: 4em;
  border: 1.5px solid black;
  border-radius: 360px;
  text-align: center;
  transition: border 0.25s ease;
  margin-right: 1em;
  text-align: center; }
  .statistics__circle:hover {
    cursor: default; }

.statistics__number {
  position: relative;
  left: .63em;
  display: flex;
  align-self: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.25em;
  transition: color 0.2s ease; }

.statistics__name {
  padding-top: .75em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: .75em;
  color: #808080;
  text-transform: uppercase;
  transition: color 0.2s ease; }

/* Hover effects */
.statistics__circle--power:hover {
  border: 1.5px solid #f17022; }
  .statistics__circle--power:hover .statistics__number, .statistics__circle--power:hover .statistics__name {
    color: #f17022; }

.statistics__circle--energy:hover {
  border: 1.5px solid #fdb813; }
  .statistics__circle--energy:hover .statistics__number, .statistics__circle--energy:hover .statistics__name {
    color: #fdb813; }

.statistics__circle--agility:hover {
  border: 1.5px solid #f68b1f; }
  .statistics__circle--agility:hover .statistics__number, .statistics__circle--agility:hover .statistics__name {
    color: #f68b1f; }

.statistics__circle--armor:hover {
  border: 1.5px solid #62c2cc; }
  .statistics__circle--armor:hover .statistics__number, .statistics__circle--armor:hover .statistics__name {
    color: #62c2cc; }

/* Sidebar - Bottom (History, Pilots) */
.robot-body__sidebar-row {
  display: flex; }

.robot-body__history-container {
  width: 45%;
  margin-right: 10%; }

.robot-body__pilots-container {
  width: 45%; }

.robot-body__pilots-container div {
  margin-bottom: 1em; }

.robot-body__pilots-container div p {
  margin-bottom: .3em;
  font-size: .85em; }

/*# sourceMappingURL=show-styles.css.map */
