@import "import-styles.scss";

/**************************************************
Core Styles
**************************************************/

body { min-width: 950px; }

// Push body down below fixed nav
.nav-bar__margin {
  width: 100%;
  height: 8.5em;
}

// Angular view style
.angular-view.ng-scope {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 2em;
}

// Layout - Max-Width
.max-width-container, #index-width-limit, #about-width-limit,
#more-width-limit.ng-scope, .robot-overview.ng-scope {
  align-self: center;
  max-width: $layoutMaxWidth;
}

#show-width-limit, #index-width-limit {
  margin: 0 auto;
}

#more-width-limit.ng-scope {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
