@import "import-styles.scss";

/**************************************************
Fonts
**************************************************/

// Font families
.font--m { font-family: $fontPrimary; }
.font--mc { font-family: $fontPrimaryCondensed; }

// Font Sizes
.font-size--body {
  font-size: $fontSizeMainBody;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.font-size--sidebar {
  font-size: $fontSizeSidebarBody;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}

.font-size--accent-sm { font-size: $fontSizeAccentSmall; }
.font-size--accent-lg { font-size: $fontSizeAccentLarge; }
.font-size--accent-xl { font-size: $fontSizeAccentXL; }
.font-color--r { color: white; }
.font-color--dark { color: white; }
.font-color--medium-gray { color: $colorMediumGray; }
.font-color--light-gray { color: $colorLightGray; }
.font-color--lighter-gray { color: $colorLighterGray; }


// Links
.link, .link:visited, .link:active, .link:focus, .link:hover {
  text-decoration: none;
  margin: 0;
}

.link--dark { color: black; }
.link--light { color: white; }
.link--hover-red:hover { color: $colorAccent; }
.link--hover-black:hover { color: black; }
.link--hover-white:hover { color: white; }

// Section Headers
.section-header {
  font-family: $fontPrimary;
  font-weight: 700;
  text-transform: uppercase;
}

.section-header--primary {
  font-size: $fontSizeSidebarHeader;
  padding-bottom: .5em;
  margin-bottom: 1.5em;
  border-bottom: 3px solid black;
}

.section-header--secondary {
  font-size: $fontSizeSidebarHeader;
  padding-bottom: .5em;
  margin-bottom: 1.5em;
  border-bottom: 1px solid black;
}

.section-header--stylized {
  font-family: $fontPrimary;
  font-size: $fontSizeSidebarBody;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 200;
  margin: 0;
}

.section-header--no-rule {
  font-size: $fontSizeSidebarHeader;
  margin-bottom: 0.75em;
}

.section-header--main-white {
  font-size: $fontSizeMainHeader;
  padding-bottom: .7em;
  margin-bottom: 1.5em;
  border-bottom: 2px solid white;
  color: white;
}
