/*****************************
Fonts
*****************************/
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,600,700,700i';

/*****************************
Variables
*****************************/
// Colors
$colorPrimary: #262626;
$colorMediumGray: #666666;
$colorLightGray: #808080;
$colorLighterGray: #AAAAAA;
$colorAccent: #d6371a;
$colorBackgroundLight: #EEEEEE;
$colorBackgroundMedium: #2E2E2E;

// Fonts
$fontPrimary: 'Open Sans', sans-serif;
$fontPrimaryCondensed: 'Open Sans Condensed', sans-serif;
$fontSizeMainBody: 0.9em;
$fontSizeMainHeader: 0.975em;
$fontSizeSidebarBody: 0.825em;
$fontSizeSidebarHeader: 0.9em;
$fontSizeAccentSmall: 0.65em;
$fontSizeAccentLarge: 2.25em;
$fontSizeAccentXL: 2.5em;

// Layout
$layoutMargin: 60px;
$layoutMaxWidth: 1150px;

/*****************************
Mixins
*****************************/
@mixin layoutPadding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin layoutMargin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

@mixin user-select($none) {
  -webkit-user-select: $none;
     -moz-user-select: $none;
      -ms-user-select: $none;
          user-select: $none;
}
