/*****************************
Fonts
*****************************/

/*****************************
Mixins
*****************************/

/*****************************
Variables
*****************************/
// Colors
$colorMediumGray: #666666;
$colorPrimary: #262626;

// Fonts
$primaryFont: 'Open Sans', sans-serif;
$primaryFontCondensed: 'Open Sans Condensed', sans-serif;
