/*****************************
Fonts
*****************************/

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,400i,600,700,700i';

/*****************************
Mixins
*****************************/
@mixin layoutPadding($padding) {
  padding-left: $padding;
  padding-right: $padding;
}

@mixin layoutMargin($margin) {
  margin-left: $margin;
  margin-right: $margin;
}

/*****************************
Variables
*****************************/
// Colors
$colorPrimary: #262626;
$colorMediumGray: #666666;
$colorLightGray: #AAAAAA;
$colorAccent: #da4e34;
$colorBackgroundLight: #EEEEEE;

// Fonts
$fontPrimary: 'Open Sans', sans-serif;
$fontPrimaryCondensed: 'Open Sans Condensed', sans-serif;
$fontSizeMainBody: 0.9em;
$fontSizeSidebarBody: 0.8em;
$fontSizeSidebarHeading: 0.9em;
$fontSizeAccentLarge: 2.25em;
$fontSizeAccentXL: 2.5em;

// Layout
$layoutMargin: 60px;
$layoutMaxWidth: 1150px;
